{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{ name }}</title>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap" rel="stylesheet">
</head>

<body>

<nav>
	<h1>MG Newspaper</h1>
	<h2>{{ name.capitalize }}</h2>
</nav>

{% block article_display %}
{% endblock %}

{% block form %}
{% endblock %}

{% block content %}
{% endblock %}

<!--
<menu>
	<h1 class="first-menu-line">PAGE TREE</h1>
	<h2>--- HOME PAGE</h2>
	<ul class="menu">
		<li><h3><a href={% url 'home' %}>Home page</a> <br></h3></li>
	</ul>
	<h2>--- RUBRICS</h2>
	<ul class="menu">
		<li><h3><a href={% url 'news' %}>News</a> <br></h3></li>
		<li><h3><a href={% url 'sports' %}>Sports</a> <br></h3></li>
		<li><h3><a href={% url 'activities' %}>Activities</a> <br></h3></li>
		<li><h3><a href={% url 'school_projects' %}>School Projects</a> <br></h3></li>
		<li><h3><a href={% url 'international_internships' %}>International Internships</a> <br></h3></li>
	</ul>
	<h2>--- EDITOR'S SPACE</h2>
	<ul class="menu">
		<li><h3><a href={% url 'view_my_articles' %}>View All Articles</a> <br></h3></li>
		<li><h3><a href={% url 'create_article' %}>Create New Article</a> <br></h3></li>
	</ul>
</menu>
-->

</body>
</html>
