{% extends 'public/base.html' %}

{% block article_display %}
	{% for comment in comments %}
		<div class="article">
			<br>
			<h1>Commented on article:  <a href="{% url 'view_article' comment.article.id %}">{{ comment.article.title }}</a></h1>
			<h1>Comment: {{ comment.content }}</h1>
			<h2>Created at: {{ comment.created }}</h2>
			<h2>Updated at: {{ comment.updated }}</h2>
			<button class="button" onclick="location.href = '{% url 'edit_comment' comment.id %}';">Edit</button>
			<button class="button" onclick="location.href = '{% url 'delete_comment' comment.id %}';">Delete</button>
		</div>
	{% endfor %}
{% endblock %}
