{% extends 'public/base.html' %}

{% block article_display %}
	{% for article in articles %}
		<div class="article">
			<br>
			<img src="{{ article.image.url }}" alt="">
			<h1><a href="{% url 'view_article' article.id %}">{{ article.title }}</a></h1>
			<h2 class="description">{{ article.description }}</h2>
			<h2>Category: {{ article.category.capitalize }}</h2>
			<h2>Date: {{ article.created_at }}</h2>
			<button class="button blue" onclick="location.href = '{% url 'edit_article' article.id %}';">Edit</button>
			<button class="button red" onclick="location.href = '{% url 'delete_article' article.id %}';">Delete</button>
		</div>
	{% endfor %}
{% endblock %}
