{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{ name }}</title>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap" rel="stylesheet">
</head>

<body>

<nav>
	<span class="logo"><a href="{% url 'home' %}">MG Newspaper</a></span>
	<div class="dropdown">
	    <button class="dropbtn" onclick="location.href = '{% url 'article_menu' %}'">Articles</button>
		<div class="dropdown-content">
			<a href={% url 'news' %}>News</a>
			<a href={% url 'sports' %}>Sports</a>
			<a href={% url 'activities' %}>Activities</a>
			<a href={% url 'projects' %}>Projects</a>
			<a href={% url 'internships' %}>Internships</a>
		</div>
	</div>

	<div class="dropdown">
		<button class="dropbtn" onclick="location.href = '{% url 'create_article' %}'"> Create Article</button>
	</div>
	<div class="dropdown">
		<button class="dropbtn">View my content</button>
		<div class="dropdown-content">
			<a href={% url 'view_my_articles' %}>View My Articles</a>
			<a href={% url 'view_my_comments' %}>View My Comments</a>
	    </div>
	</div>

	<div class="login-nav">
		{% if request.user.is_authenticated %}
			<div class="signed-in-as">Signed in as <a href="{% url 'profile' %}">{{ request.user.username }}</a></div>
			<div class="sign-out"><a href="{% url 'sign-out' %}">Sign Out</a></div>
		{% else %}
			<div class="sign-in"><a href="{% url 'sign-in' %}">Sign in</a></div>
			<div><a href="{% url 'register' %}">Register</a></div>
		{% endif %}
	</div>
</nav>

<h2 class="page-name">{{ name.capitalize }}</h2>


{% block article_display %}
{% endblock %}

{% block form %}
{% endblock %}

{% block content %}
{% endblock %}


</body>
</html>
