{% extends 'public/base.html' %}

{% block article_display %}
	<div class="article">
		<img src="{{ article.image.url }}" alt="">
		<h1>{{ article.title }}</h1>
		<h2 class="description">{{ article.description }}</h2>
		<h2 style="display: inline">{{ article.total_likes }} likes</h2>

		<form class="like-form" action="{% url 'like_article' article.id %}" method="post">
			{% csrf_token %}
			{% if not is_liked %}
				<button name='article_id' type="submit" value="{{ article.id }}" class="button">Like</button>
			{% else %}
				<button name='article_id' type="submit" value="{{ article.id }}" class="button">Unlike</button>
			{% endif %}
		</form>
		<h2>Date: {{ article.created_at }}</h2>
		<h2>Author: {{ article.user.username }}</h2>


		<button class="button" onclick="location.href = '{% url 'edit_article' article.id %}';">Edit</button>
		<button class="button" onclick="location.href = '{% url 'delete_article' article.id %}';">Delete</button>

		{% if article.comment_set.all %}
			<div class="comment-section">
				<h1>COMMENTS</h1>
				<a href="{% url comment-create %}">Add Comment Here</a>
				{% for comment in article.comment_set.all %}
					<hr>
					<h2>{{ comment.user.username }} says: {{ comment.content }}</h2>
				{% endfor %}
			</div>
		{% else %}
			<div class="comment-section">
				<h1>NO COMMENTS</h1>
			</div>
		{% endif %}
	</div>

{% endblock %}
